:root {
  --mainColor: #2c8575;
  --hoverColor: #5faea1;
  --textColor: #89888f;
  --titleColor: #000420;
}

.about {
  padding-top: 120px;
  min-height: 836px;
  background-color: var(--mainColor);
  padding-bottom: 50px;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .container .aboutLeft {
  display: flex;
}

.about .container .aboutLeft .imageTow {
  position: relative;
  right: 5rem;
  top: 12rem;
  z-index: 1;
}

/*.about .container .aboutLeft .imageThree {
  position: relative;
  right: 12rem;
  z-index: 0;
}
*/
.about .container .aboutRight {
  /*margin-left: -100px;*/
}

.about .container .aboutRight__top h3 {
  color: #fff;
  font-size: 40px;
}

.about .container .aboutRight__top p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.8;
  margin: 20px 0;
}

.aboutRight__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.aboutRight__top button {
  border: none;
  height: 60px;
  width: 177px;
  background-color: var(--hoverColor);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
  margin-top: 55px;
}

.aboutRight__top button:hover {
  cursor: pointer;
}

@media screen and (max-width: 816px) {
  .about {
    width: 100%;
  }
  .about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about .container .aboutLeft .imageTow {
    position: relative;
    right: 10rem;
    top: 20rem;
    z-index: 1;
  }

  .aboutRight__bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutRight__bottom .shape {
    margin: 20px;
  }

  .about .container .aboutRight {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .about .container {
    display: flex;
    flex-direction: column;
  }
  .about .container .aboutRight__top {
    margin-top: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .aboutRight__bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutRight__bottom .shape {
    margin: 20px;
  }
}

@media screen and (max-width: 390px) {
  .about .container .aboutLeft {
    max-width: 390px;
  }
  .about .container .aboutLeft .imageTow {
    position: relative;
    right: 15rem;
    top: 20rem;
    z-index: 1;
  }

  .about .container .aboutLeft .imageOne {
    right: 10px;
  }
}
