:root {
  --mainColor: #2c8575;
  --hoverColor: #5faea1;
  --textColor: #89888f;
  --titleColor: #000420;
}
.home {
  padding-top: 70px;
  height: 767px;
  width: 100%;
  background-color: var(--mainColor);
}
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLeft {
  max-width: 600px;
}

.home .container .homeLeft h1 {
  color: #fff;
  font-size: 66px;
  font-weight: bold;
}

.home .container .homeLeft p {
  color: #fff;
  font-size: 17px;
}

.home .container .homeLeft > button {
  border: none;
  height: 60px;
  width: 177px;
  background-color: var(--hoverColor);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
  margin-top: 55px;
}

.home .container .homeLeft > button:hover {
  cursor: pointer;
}
.homeRight {
  display: flex;
  right: 0 !important;
}
.homeRight .imgOne {
  position: relative;
  right: -4rem;
}

.homeRight .imgTow {
  position: relative;
  top: 10rem;
  right: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home {
    height: 100%;
  }
  .home .container {
    display: flex;
    flex-direction: column;
  }

  .homeLeft {
    padding: 0 10px 0 10px;
    text-align: center;
  }

  .homeRight {
    padding-bottom: 240px;
    padding-top: 40px;
  }

  .homeRight .imgOne {
    max-width: 100px;
    position: relative;
    right: 1rem;
  }

  .homeRight .imgTow {
    position: relative;
    top: 20rem;
    right: -1rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1200px) {
  .home {
    padding-bottom: 120px;
  }

  .home .container {
    margin: 0;
    padding: 0 10px 0 10px;
  }

  .homeLeft {
    max-width: 600px;
  }

  .homeRight .imgOne {
    max-width: 100px;
    position: relative;
    right: -1rem;
  }

  .homeRight .imgTow {
    position: relative;
    top: 24rem;
    right: 2rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/*min screen */
@media only screen and (max-width: 390px) {
  .homeRight {
    max-width: 390px;
  }
  .homeRight .imgOne {
    max-width: 100px;
    position: relative;
    right: 1rem;
  }

  .homeRight .imgTow {
    position: relative;
    top: 24rem;
    right: 4rem;
  }
}
