:root {
  --mainColor: #2c8575;
  --hoverColor: #5faea1;
  --textColor: #89888f;
  --titleColor: #000420;
}
.App {
  /* background-image: url("./assets/image/bcg.png");*/
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  margin: 0 83px;
}
