:root {
  --mainColor: #2c8575;
  --hoverColor: #5faea1;
  --textColor: #89888f;
  --titleColor: #000420;
}
.App {
  /* background-image: url("./assets/image/bcg.png");*/
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  max-width: 1350px;
  margin: 0 calc(10%);
}

.arab {
  max-width: 1350px;
  margin: 0 90px;
  direction: rtl;
}

@media screen and (max-width: 850px) {
  .container {
    padding: 20px;
  }
}

@media screen and (max-width: 390px) {
  .container {
    padding: 20px;
  }
}
